$font-stack: Helvetica, sans-serif
$octoGray: hsla(0, 0%, 95%, 1)

html
  text-size-adjust: 100%

body
  font-family: $font-stack
  margin: 0
  margin-right: 0
  padding: 0
  background-color: $octoGray

  nav
    display: flex
    justify-content: space-between
    align-items: center
    font-weight: bold
    padding: 0 0.5em
    background-color: darken($octoGray, 30%)

    ul
      display: flex
      list-style-type: none
      font-size: 15px

    a
      padding: 0 15px
      text-decoration: none
      color: hsla(0, 0%, 20%, 1)

  header
    padding: 20px
    text-align: center

    p
      font-size: 1.25em

  ul
    display: flex
    flex-wrap: wrap
    padding: 10px
    justify-content: center

    li
      list-style: none
      margin: 10px

    .catPics
      border-radius: 0.25em
      border: solid
      border-width: 1px
      border-color: darken($octoGray, 50%)
      background-color: white

  figcaption
    display: flex
    justify-content: space-between
    align-items: center

  figcaption p.faded
    font-family: Helvetica
    opacity: 0.5

  footer
    @extend nav
    display: inline-flex
    width: 100vw

    .copyright
      font-weight: 100
